html, body {background-color: #fff;	color: #636b6f; font-family: 'Trebuchet MS'; font-weight: 500; font-size: 11pt; margin: 0; padding: 0;}
/**** INITIALS ****/
a, a:active, a:visited{color: #337ab7;}
a:hover{color: #68a9e1; text-decoration: none}
.btn{color: #fff !important;} strong{color: #636b6f;} label{font-weight: bold; color: #337ab7;}
.fa{vertical-align: middle; padding: 0px; font-size: 16pt; margin: 0px;}
.panel h1, .panel h2, .panel h3{margin: 7px;}
small{line-height: 20px; color: #aaa;}
[v-cloak] {display: none;}
/*[v-cloak] [loading] {display: block; color: red;}
[v-cloak] [hide] {display: none}*/

/************** CUSTOM ***************/
.NO-float {float: none;}
.margin-0 {margin:0;}
.padding-0 {padding:0;}
.marg-pad-0{margin: 0px; padding: 0px;}
.margin-top-10{margin-top: 10px}
.padding-left-0{padding-left: 0px;}
.alert {font-size: 14pt}
.display-inline{ display: inline; }
.font-22pt{font-size:22pt;}
.border-bottom{border-bottom: 1px solid #ccc; margin-bottom: 10px;}
.disp-blk{ display: block !important;}
.width-100{width: 100%;}
.btn1{ float: left;}
.btn2{ float: right;}

.hd-default { color: #fff; background-color: #ccc; font-size: ; margin: 0; margin-bottom: 10px; padding: 10px 20px; text-align: center;}
.hd-primary { color: #fff; background-color: #5bc0de; font-size: 16pt; margin: 0; margin-bottom: 10px; padding: 10px 20px; border: 1px solid #1c8cad; border-radius: 5px; text-align: center;}

.panel-success{border-color: #4d984e !important;}
.panel-success .panel-heading, .panel-heading .panel-tabs .panel-block{
    background-color: #4d984e; color: #fff; border-color: #4d984e !important;}
.panel-success .panel-body{border-color: #4d984e !important;}

.input-group-addon{background-color: #d9edf7; color: #31708f;}
/**** NAV ****/
.my-theme{border-bottom: 1px solid #337ab7; background-color: #337ab7;}
nav i {font-size: 22pt !important;  vertical-align: middle;}
.my-theme .nav{height: auto; background-color: #337ab7; }
.my-theme .nav a{color: #ccc;}
.my-theme .nav a:hover{color: #fff; background-color: #3e91d8 !important}
.my-theme .navbar-brand {padding: 14px 15px; color: #ddd;}
.my-theme .navbar-brand h2{margin:0px ; padding: 0px;}
.my-theme .badge{color: #fff; background-color: #ff3860;}
.my-theme .dropdown{background-color: #337ab7;}
.my-theme .dropdown-toggle{background-color: #337ab7; line-height: 29px; vertical-align: middle;}
.my-theme .dropdown-toggle:focus{background-color: #337ab7;}
.my-theme .dropdown-toggle strong{color: #fff;}
.my-theme .dropdown-menu a{color: #337ab7 !important;}

#content{min-height: 350px;}
/*.container-fluid .col-sm-4{padding-right: 0px; padding-left: 0px}*/

/**** LATEST CARS ****/
.latest-posts {}
.latest-posts .panel {margin-right:10px; margin-left:10px; }
.latest-posts .caption {text-align: left }
.latest-posts .hd {font-size: 14pt; }
.latest-posts a:hover{border: 0px solid #000; }
.latest-posts .no-results{opacity:0; transition: opacity 0.5s linear; }
.latest-posts .col-sm-4{padding-left: 5px; padding-right: 5px;}

/**** CAR CARD POST ****/
.car-card{margin-bottom: 15px;}
.car-card .panel{margin: 0px;}
.car-card:hover{border-color: #000;}
.car-card img{ height: 80px;  }
.car-card small{font-size: 9pt; color: #ccc;}
.car-card .caption{ height:; font-size: 12pt !important;  overflow: ; padding: 7px 0px;}
.car-card .desc{ overflow: hidden; min-height: 50px; border: 0px solid #000;}
.car-card .fa, .car-card .glyphicon{ font-size: 24pt; line-height: 30px; vertical-align: middle;}
.car-card .fa:hover {cursor: pointer}
.car-card .tool-btns {position: absolute; top: 0px; left: 20px; margin: 5px; opacity: 0;}
.car-card .tool-btns .btn{display: block; margin-top: 7px; }
.car-card:hover .tool-btns{opacity: 0.8}
.car-card .foot{margin-top: 5px; display: block; height: 35px;}
.myCars .car-card .foot{height: 45px;}

/*************  CARD IN VUE  ******************/
.card-in-vue{}
.card-in-vue .panel{padding:10px 10px 0px 10px;}
.card-in-vue label{padding: 0px; margin: 0px; height: 25px; line-height: 25px;}
.card-in-vue p{padding: 0px; margin: 0px; height: 15px; line-height: 15px;}
.card-in-vue p small{padding: 0px; margin: 0px; height: 15px; line-height: 15px;}

/**** CAR SHOW ****/
.card #myCarousel{height: 350px;}
.card .carousel-inner{position: relative; height: 350px;}
.card .carousel-inner img{position: relative;}
.card .details{margin-bottom: 10px;}
.card .user-profile{}
.card .user-profile .blk{ margin: 10px 0px;}
.card .user-profile a{width: 100%;}
.card .user-profile img{border: 3px solid blue; border-radius: 100%; width: 100%; height: 100%;}
.card .user-profile span{font-size: 14pt;}
.card .map{position: relative; width: ; height: 30vh;}
.card pre{border-width: 0px; background-color: #fff; color: #555; font-family: 'Trebuchet MS'; font-size: 14pt;}

/**** WISHLIST ****/
.WishListButton{width: 35px; margin: 0; float: right;}
.WishListButton .fa-heart{color: red;}
.WishListButton .fa-heart:hover{opacity: 0.5}
.WishListButton .fa-heart-o{color: #555;}
.WishListButton .fa-heart-o:hover{opacity: 0.5}

.my-wish-list{}
.my-wish-list .panel{}
.my-wish-list .thumbnail{float: right;}
.my-wish-list img{max-height: 120px; max-width: 185px; }
.my-wish-list .blk{border: 1px solid #ccc; padding: 10px 20px; height: 150px}
.my-wish-list .blk a, .my-wish-list .blk a:visited, .my-wish-list .blk a:active{
    border: 0px solid #3097D1;text-align: left; color: #3097D1;}
.my-wish-list .blk .hd{font-size: 16pt; }

footer { padding:5px 40px; background-color: #1c8cad; border-top: 1px solid #555; margin: 20px 0px 0px 0px;
	color: #2d3092; line-height: 17px; font-weight: 600;}
footer a, footer a:active, footer a:visited {color:#2d3092;}
footer a:hover {text-decoration: none; color: #ddd;}
footer ul {text-align: center}
footer .sub2 {border-left: 0px solid #2d3092; color: #ddd;}
footer h2 {border-bottom: 1px solid #999; width: 150px; padding:5px; margin: 0px auto 10px auto}
footer .logo-div {height: 105px; }
footer .logo-div img{height: 90px;,margin: auto; width: ; vertical-align: middle; line-height: 90px}
footer hr {border-color: #999;}

/**** EditImagesComponent ****/
.EditImagesComponent{}
.EditImagesComponent img{padding:0; margin-bottom: 6px}
.EditImagesComponent .button-div{clear:both;}
.EditImagesComponent button{margin-bottom: 20px}

/**** SIDEBAR ****/
#sidebar{margin:0; padding:0;}


/**** SEARCHBAR ****/
#searchbar{margin:0; padding:0; max-height: 700px; overflow-y: scroll;}
#searchbar .panel{}
#searchbar hr{margin: 10px 0px;}
#searchbar select{width: 90%; margin: auto; height: 125px;}
#searchbar input[type="search"]{width: 90%; margin: auto; height: 45px;}
#searchbar option{text-align: center}
#searchbar input[type='checkbox']{margin-left: 20px}

/**** BLUR ****/
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  -webkit-transition: -webkit-filter .30s;
}

//================ CONVERSATIONS
.conversations{}
.conversations div, .conversations a, .conversations img{
	padding:0 !important; margin:0 !important}

.conversations .user_conv{
	padding: 10px !important; margin-bottom: 5px !important; border-bottom: 1px solid #ccc; background-color: #eee}
.conversations caption{margin-left: 5px;}

.user_img{border-radius: 100%; padding: 0 !important;}
.conv_messages{border: 1px solid #ccc; padding:10px 10px; overflow-y: auto; height:500px;}
.conv_messages .header{ border-bottom: 1px solid #ccc; height: 80px !important; padding:10px; margin-bottom: 10px; 
	 background-color: #fff; }
.conv_messages .header a{
	line-height: 60px; vertical-align: middle;
	 }
.conv_messages .header .user_img{ width:auto; height:60px;}
.conv_messages .header span{float: left; margin-left: 10px}
.msg {text-align: left ; margin:10px !important	; padding: 10px; }
.message_text{ padding: 5px 10px; }
.message_text span{ color: #fff;  background-color: blue; border-radius: 5px;
	 margin:5px ; padding: 5px 10px;}
.me{float:right !important; }
.me span{background-color: #eee; color: #666;}
.datetime{margin:0px 22px;}


/*** USER TIMELINE ***/
.user-timeline{min-height: 300px;}
.user-timeline .user-profile{}
.user-timeline .user-profile .blk{ margin: 10px 0px; display: block}
.user-timeline .user-profile a{width: 100%;}
.user-timeline .user-profile img{border: 3px solid blue; border-radius: 100%; width: 100%; height: 100%;}
.user-timeline .user-profile span{font-size: 14pt;}
.user-timeline .user-profile .blk-right{top: 25%; right: 0; float: right; margin-top: 30px;}
.user-timeline .user-profile .blk-right strong{line-height: 40px; font-size: 14pt; margin: 10p 10px;}

#about{}
#about .line{padding: 10px 20px; text-align: left; font-size: 16pt;}
#about .line label{ color: #337ab7;}
#about .line strong{}

.saved-search{}
.saved-search li{list-style-type: none}

.loadedSavedSearch{margin-bottom: 10px; }
.loadedSavedSearch p{font-weight: bold; margin-bottom: 0px; text-align: left;}






/*************  TOOLTIP  *************/
.tooltipDiv {
    position: relative;
    display: inline-block;
}

.tooltipDiv .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    font-size: 10pt;
}

.tooltipDiv .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipDiv:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
}

.my-saved-searches{}
.my-saved-searches .btns{float: right; margin-top: -6px;}
.my-saved-searches .panel-body{font-size: 14pt; text-align: left;}


.modal-card-foot{margin-top:0; padding: 10px 20px 10px 20px; width: 100%;}
