html, body {
	background-color: #fff;
	color: #636b6f;
	//font-family: 'Raleway', sans-serif;
	font-weight: 500;
	margin: 0; 
	padding: 0;
}
a, a:active, a:visited{/*color: #337ab7;*/}
a:hover{color: #68a9e1; text-decoration: none}
.btn{color: #fff;}

.slct {}

.NO-float {float: none;}
.margin-0 {margin:0;}
.padding-0 {padding:0;}
.alert {font-size: 14pt}
.display-inline{ display: inline; }
.font-22pt{font-size:22pt;}

nav i {font-size: 22pt !important;  vertical-align: middle;}
.navbar-brand {padding: 14px 15px;}
.navbar-brand h2{margin:0px ; padding: 0px;}
/*.navbar {border-radius: 0}*/
.well h1{color: #;;}
.well .panel {float:none;}
.well .panel-header {margin: 0px; border-width: 0px;}
.well .panel-body {margin: 0px; border:0px solid #ccc;}
.panel {padding:0;}
.panel h1, .panel h2, .panel h3, .panel h4 {margin:0;}
.panel-me { background-color: ; border: 1px solid #1c8cad;}


.latest-posts .panel {margin-right:10px; margin-left:10px; }
.latest-posts .caption {text-align: left }
.latest-posts .hd {font-size: 14pt; }
.latest-posts a:hover{border: 1px solid #000;}
.car-card {}
.car-card .desc{ overflow:hidden; height: 62px; border: 0px solid #000;}
.car-card .fa {margin:0px 5px 0px 0px; font-size: 24pt; line-height: 30px; vertical-align: middle;}
.car-card .fa:hover {cursor: pointer}
.car-card .edit-btn {color: #007d05;}

footer { padding:5px 40px; background-color: #1c8cad; border-top: 1px solid #555; margin: 20px 0px 0px 0px;
	color: #2d3092; line-height: 17px; font-weight: 600;}
footer a, footer a:active, footer a:visited {color:#2d3092;}
footer a:hover {text-decoration: none; color: #ddd;}
footer ul {text-align: center}
footer .sub2 {border-left: 0px solid #2d3092; color: #ddd;}
footer h2 {border-bottom: 1px solid #999; width: 150px; padding:5px; margin: 0px auto 10px auto}
footer .logo-div {height: 105px; }
footer .logo-div img{height: 90px;,margin: auto; width: ; vertical-align: middle; line-height: 90px}
footer hr {border-color: #999;}

.hd-default {
	color: #fff; background-color: #ccc; font-size: ; margin: 0; margin-bottom: 10px;
	padding: 10px 20px; text-align: center;}

.hd-primary {
	color: #fff; background-color: #5bc0de; font-size: 16pt; margin: 0; margin-bottom: 10px;
	padding: 10px 20px; border: 1px solid #1c8cad; border-radius: 5px; text-align: center;}


//=============================== WISHLIST

.wish-list-post a, .wish-list-post a:visited, .wish-list-post a:active{
	border: 1px solid #3097D1;
	text-align: left;
			
}
.wish-list-post a:hover{
	
}

.wish-list-post .hd{
	font-size: 16pt; 
}

.EditImagesComponent{}
.EditImagesComponent img{padding:0; margin-bottom: 6px}
.EditImagesComponent .button-div{clear:both;}
.EditImagesComponent button{margin-bottom: 20px}